.navbar {
    padding: 20px;
    margin-bottom: 40px;
    background-color:#4b7299;
    color: white;
}

.nav{
    padding-left: 100px;

}

.nav-link:hover{
    color:black;
    transition: 0.8s all;
}


.nav-link {
      font-size: 20px;
padding-right: 50px;
color: white;

}
