@model IEnumerable<HospitalApp.Models.PatientModel> 

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PatientAdd</title>
    </head>
    <body>
        <form action="/Patient/Submit" method="post">
            Patient Name :<input type="text" name="name" value=""/><br><br>
            Patient Problem :<input type="text" name="problemDescription" value=""/><br><br>
            <input id="Button1" type="Submit" value="Add patient"/>
        </form><br><br>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.problemDescription</td>
                </tr>
            }
        </table>
    </body>
</html>